# Environment Variables for Supabase
VITE_SUPABASE_URL=https://kzfenwbgoxarvgmoqrzv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6ZmVud2Jnb3hhcnZnbW9xcnp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3Mzg1NjcsImV4cCI6MjA5NjMxNDU2N30.6EsYnWzCy61gq321qD20kTkCPiNpjKkxVRP1UtmNDpg
VITE_API_URL=http://localhost:3000

arman_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbnlvbWp1YndxeW1wYmxheXF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NDgwNDAsImV4cCI6MjA5NjMyNDA0MH0.0IHP16JaUzmE9ErEpqXFYTXabvJEVERYzVa2lRDI_4U"
NEXT_PUBLIC_arman_SUPABASE_PUBLISHABLE_KEY="sb_publishable_Upl3Tz2ddZldf65R-yfg4g_G4A0rm5a"
NEXT_PUBLIC_arman_SUPABASE_URL="https://cqnyomjubwqympblayqu.supabase.co"
arman_POSTGRES_DATABASE="postgres"
arman_POSTGRES_HOST="db.cqnyomjubwqympblayqu.supabase.co"
arman_POSTGRES_PASSWORD="SKi21ILPyohAdhF0"
arman_POSTGRES_PRISMA_URL="postgres://postgres.cqnyomjubwqympblayqu:SKi21ILPyohAdhF0@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
arman_POSTGRES_URL="postgres://postgres.cqnyomjubwqympblayqu:SKi21ILPyohAdhF0@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
arman_POSTGRES_URL_NON_POOLING="postgres://postgres.cqnyomjubwqympblayqu:SKi21ILPyohAdhF0@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
arman_POSTGRES_USER="postgres"
arman_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbnlvbWp1YndxeW1wYmxheXF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NDgwNDAsImV4cCI6MjA5NjMyNDA0MH0.0IHP16JaUzmE9ErEpqXFYTXabvJEVERYzVa2lRDI_4U"
arman_SUPABASE_JWT_SECRET="CmuEwtGwYjhbJL9kY6pRTcYVU1pRF5b0qD7Kvs4tqxJpbzpv/DJNP2stAU1dRVJWHJWxNJ6f7WsNanIzZGlLOg=="
NEXT_PUBLIC_arman_SUPABASE_PUBLISHABLE_KEY="sb_publishable_Upl3Tz2ddZldf65R-yfg4g_G4A0rm5a"
arman_SUPABASE_SECRET_KEY="sb_secret_iJHLEEQGxiS-VNHAsRIoXA_Mc0BO6qB"
arman_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxbnlvbWp1YndxeW1wYmxheXF1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDc0ODA0MCwiZXhwIjoyMDk2MzI0MDQwfQ.zX2H_6gidG7_ogWX62I8ard3LlrLV5dUfMGHJTl1t-0"
NEXT_PUBLIC_arman_SUPABASE_URL="https://cqnyomjubwqympblayqu.supabase.co"
